
* {
    margin: 0;
    padding: 0;
}

#title {
    margin-top: 70px;
    margin-bottom: 70px;
    color:#333;
}

.c-border {
    border: dotted 1px #333;
    border-radius: 5px;
}

body {
    background-color: #EEFBFB;
}

input:valid, select:valid {
    background-color: #E3FBE3;
}

div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  div.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  div.example button:hover {
    background: #0b7dda;
  }
  
  div.example::after {
    content: "";
    clear: both;
    display: table;
  }